extends layout.pug
block content
  form(method='POST', action='/Agregar')
    #form-group
      label titulo:
      input.form-control(name='titulo', type='text')
      br
    #form-group
      label tema:
      input.form-control(name='tema', type='text')
      br
    #form-group
      label autor:
      input.form-control(name='autor', type='text')
      br
    #form-group
      label cuerpo:
      textarea.form-control(name='cuerpo', type='text')
      br
    #form-group
      label bibliografia:
      input.form-control(name='bibliografia', type='text')
      br
    input.btn.btn-success(type='submit', value='submit')
