extends layout.pug
block content
  form(method='POST', action='/users/login')
    #form-group
      label Username:
      input.form-control(name='username', type='text')
      br
    #form-group
      label Contraseña:
      input.form-control(name='contraseña', type='text')
      br
    input.btn.btn-success(type='submit', value='submit')
