doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='/style.css')
  title Log In
// <img src="Espacio.jpg" alt="Universo" style="width:1080px;height:400px;">
<div class="log-form">
  <h2>Login to your account</h2>
  <form>
    <input type="text" title="username" placeholder="username" />
    <input type="password" title="username" placeholder="password" />
    <button type="submit" class="btn">Login</button>
    <a class="forgot" href="#">Forgot Username?</a>
  </form>
</div><!--end log form -->
