doctype html
head
  meta(charset='utf-8')
  link(rel='stylesheet' href='/style.css')
  title Derivando El cielo
h1 Derivando el cielo
ul
  li
    a(href='index') Principal
  li
    a(href='Fisica') Fisica
  li
    a(href='Matematica') Matematica
  li
    a(href='Astronomia') Astronomia
  li
    a(href='Contacto') Contacto
  li
    if logeado
      a(href='login') Log out
    else
      a(href='login') Log in
h2 #{title}
